@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {display:none;}

body {
  margin: 0;
  padding: 0;
  background: #0e1212;
  transition: background-color 0.4s ease-out;
}

html {
  @media (min-width: 990px) {
    scroll-snap-type: y proximity;
  }
}

.nft-gradient{
  background: linear-gradient(117deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 63%, rgba(252,176,69,1) 100%);
}

.nft-card-gradient{
  background: linear-gradient(38deg, rgba(48,56,153,1) 0%, rgba(108,46,149,1) 45%, rgba(190,30,204,1) 97%);
}

.white-bg{
  background: rgba(255,255,255, 0.2);
}

/* hide scrollbar for web browser */
/* for safari, chrome, opera */
.no-scrollbar::-webkit-scrollbar{
  display:none;
}

.no-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* For IE adn edge */
  scrollbar-width: none; /* for firefox */
}

.checkbox{
  opacity: 0;
  position:absolute
}

.label{
  transform: scale(1.5);
}

.ball{
  top: 2px;
  left: 2px;
  width:19px;
  height:19px;
  transition: transform 0.2s linear;
}

/* for the element after the label */
.checkbox:checked + .label .ball{
  transform:translateX(21px)
}

.fa-moon {
  color:pink;
}

.fa-sun {
  color: yellow;
}

.fa-manual {
  --fa-animation-duration: 2s; 
  --fa-fade-opacity: 0.4;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; /* need to be the same as previous */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  animation: duration 500ms;;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app__footer-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }

    
    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

  }

}

input,textarea {
  &:hover {
    box-shadow: 0 0 25px #fef4f5;
  }
}

.littlebox {
  position:absolute;
  border-radius: 10px;
  backdrop-filter: blur(24px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(121, 117, 117, 0.5);
  border-right: 1px solid rgba(100, 100, 100, 0.2);
  border-bottom: 1px solid rgba(78, 78, 78, 0.2);
  background: rgba(71, 49, 82, 0.4);
}
.boxfield{
  box-shadow: 0 0 45px #593264;
  border-color: rgba(53, 27, 70, 0.678);
  background: rgba(69, 57, 75, 0.4);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  position: relative;
  padding: 25px;
  height: 460px;
  flex: 0 0 23%;
  max-width: 23%;
}

.card:nth-child(8n + 2),
.card:nth-child(8n + 4),
.card:nth-child(8n + 5),
.card:nth-child(8n + 7) {
  flex: 0 0 27%;
  max-width: 27%;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  left: 0;
  right: 0;
  top:5rem;
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  overscroll-behavior-y: contain;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  overflow:hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.open .card-content {
  height: 90vh;
  width: 70vw;
  padding:20px;
  overflow-x:hidden;
  overflow-y: scroll;
  @media (max-width: 990px) {
    width: 90vw;
  }
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 420px;
}


h2 {
  color: #fff;
  margin: 8px 0;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100%
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}


p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    padding: 25px;
  }

  .card-content-container.open {
    padding: 0;
  }
}

.homeloader {
  color: white;
  width: 300px;
  height: 70px;
  text-align: center;
  line-height:60px;
  font-weight: bold;
  font-family: verdana;
  border: 5px solid white;
  overflow: hidden;
  position: relative;
  span {
    position: absolute;
    left:0;
    width: 100%;
    font-size: 48px;
    text-transform: uppercase;
    &:nth-child(1) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
      animation: animate 4s linear infinite;
    }
    &:nth-child(2) {
      -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
      animation: animate 4s reverse infinite;
    }
    @keyframes animate {
      0% {
        transform:translateX(100%)
      }
      40% {
        transform:translateX(0%)
      }
      60% {
        transform:translateX(0%)
      }
      100% {
        transform:translateX(-100%)
      }
    }
  }
}

.adjustheight {
  height: calc(100vh - 5rem);
}

.gradientshadow {
  background: linear-gradient(0deg, #1d1d1d, #424242);
  border-radius: 30px;
  &:before, &:after {
    content:'';
    border-radius: 30px;
    position:absolute;
    top:-2px;
    left:-2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index:-1;
    animation: animate2 20s linear infinite;
  }
  &:after {
    filter:blur(20px)
  }
  @keyframes animate2 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

.skillButton {
  position:relative;
  background: #444;
  color:white;
  font-size:1.5rem;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
  &:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    i:before {
      width:20px;
      left:20%
    }
    i:after {
      width:20px;
      left:80%
    }
  }
  &:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;

  }
  span {
    position: relative;
    z-index: 1;
  }
  i {
    position: absolute;
    inset:0;
    display:block;
    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 10px;
      top: -3.5px;
      left: 80%;
      border: 2px solid var(--clr);
      background: #27282c;
      transform:translateX(-50%);
      transition: 0.5s;
    }
    &:after {
      content: "";
      position: absolute;
      width: 15px;
      height: 10px;
      bottom: -3.5px;
      left: 20%;
      border: 2px solid var(--clr);
      background: #27282c;
      transform:translateX(-50%);
      transition: 0.5s;
    }
  }
}


.parallax {
  overflow: hidden;
  display: flex;
  width:100vw;
  .scroller {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:16px;
  }
}

.workBox {
  position:relative;
  background: #2e2e2e;
  display:flex;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap:20px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .icon {
      color: var(--clr);
      width: 130px;
      height: 130px;
      box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      background: #2e2e2e;
      transition: 0.5s ease-in-out;;
    }
    .text{
      h1 {
        color: white;
        font-weight: 500;
        transition:0.5s ease-in-out;
      }
      p {
        color: #999;
        transition: 0.5s ease-in-out;
      }
      h3 {
        position: relative;
        background: var(--clr);
        color: #2e2e2e;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        margin-top:10px;
        transition: 0.5s ease-in-out;
      }
    }
  }
  &:hover {
    .content{
      .icon {
        box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 500px var(--clr);
        background: var(--clr);
        color: #2e2e2e;
      }
      .text {
        h1 {
          color: #2e2e2e;
        }
        p {
          color: #2e2e2e;
        }
        h3 {
          background: #2e2e2e;
          color: var(--clr)
        }
      }
    }
    &::before {
      transform: skewY(0deg);
      inset: -10px 40px;
    }
    &::after {
      transform: skew(0deg);
      inset: 20px -10px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    border-top: 4px solid var(--clr);
    border-bottom: 4px solid var(--clr);
    inset: -10px 50px;
    z-index: -1;
    transform: skewY(5deg);
    transition: 0.5s ease-in-out;
  }
  &::after {
    content: '';
    position: absolute;
    border-left: 4px solid var(--clr);
    border-right: 4px solid var(--clr);
    inset:  20px -10px;
    z-index: -1;
    transform: skew(15deg);
    transition: 0.5s ease-in-out;
  }
}

.workBoxshow {
  position: relative;
  background: #444;
  transition:0.5s;
  .icon {
    color: var(--clr);
    width: 130px;
    height: 130px;
    box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: #2e2e2e;
    transition: 0.5s ease-in-out;;
  }
  
  &::before {
    content: '';
    position: absolute;
    inset: 6px;
    background: #27282c
  }
  .content {
    position: relative;
    width:100%;
    height: 100%;
    padding: 20px 20px;
    z-index:1;
    .icon {
      color: var(--clr);
      width: 130px;
      height: 130px;
      box-shadow: 0 0 0 4px #2e2e2e, 0 0 0 6px var(--clr);
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      background: #2e2e2e;
      transition: 0.5s ease-in-out;;
    }
    .text{
      h1 {
        color: white;
        font-weight: 500;
        transition:0.5s ease-in-out;
      }
      p {
        color: #999;
        transition: 0.5s ease-in-out;
      }
      h3 {
        position: relative;
        background: var(--clr);
        color: #2e2e2e;
        font-size: 1.5rem;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        margin-top:10px;
        transition: 0.5s ease-in-out;
      }
    }
  }
  i {
    position:absolute;
    inset: 0;
    display: block;
    &::before {
      content: '';
      position: absolute;
      top:-15px;
      left: 100%;
      transform:translateX(-50%);
      width: 30px;
      height: 30px;
      background: #27282c;
      border: 6px solid var(--clr);
      transition: 0.5s
    }
    &::after {
      content: '';
      position: absolute;
      bottom:-15px;
      left: 0%;
      transform:translateX(-50%);
      width: 30px;
      height: 30px;
      background: #27282c;
      border: 6px solid var(--clr);
      transition: 0.5s
    }
  }
  &:hover {
    scale: 1.1;
    background: var(--clr);
    box-shadow: 0 0 120px var(--clr);
    i:nth-of-type(1):before {
      left: 0%;
      bottom: 0%;
      transform: translateX(-50%) rotate(45deg);
    }
    i:nth-of-type(1)::after {
      left: 100%;
      bottom: calc(0% - 10px);
      transform: translateX(-50%) rotate(45deg);
    }
    i:nth-of-type(2):before {
      background: var(--clr);
      left: 0%;
      top: calc(100% - 15px);
      transform: translateX(-50%) rotate(45deg);
    }
    i:nth-of-type(2)::after {
      background: var(--clr);
      left: 100%;
      bottom: calc(100% - 15px);
      transform: translateX(-50%) rotate(45deg);
    }
  };
}


.mariocontainer {
  perspective: 900px;
  perspective-origin: 50% 50vh;
}

.dropshadow {
  box-shadow: 0px -20px 30px 20px #0497d1;
}


.glowText {
  animation: glowtext 16s ease-in-out infinite;
  @keyframes glowtext {
    50%{
      color:#111617;
      text-shadow: none;
    }
    0%,100% {
      color:#fd6228;
      text-shadow: 0 0 10px #ca4e1f, 0 0 20px #ca4e1f, 0 0 40px #ca4e1f,
    }
  }
}

.navStyle {
  gap: 30px;
  li {
    position:relative;
    list-style: none;
    a {
      position: relative;
      font-size: 6em;
      text-decoration: none;
      line-height: 1.5em;
      letter-spacing: 4px;
      color:transparent;
      font-weight: 900;
      -webkit-text-stroke: 1px rgba(255,255,255,0.5);
      &:hover::before {
        width: 100%;
        -webkit-text-stroke: 1px var(--colour);
        filter: 
          drop-shadow(0 0 25px var(--colour))
          drop-shadow(0 0 50px var(--colour));
      }
      &::before {
        content: attr(data-text)+attr(data-text2)+attr(data-text);
        position: absolute;
        color: var(--colour);
        width: 0;
        overflow: hidden;;
        transition: 0.5s;
        border-right: 8px solid var(--colour);
      }
    }
  }
}